:root{
    --accent--color: #4a235a;
    --color2: #FFC300;
    --color3: #FF5733;
    --color4: #C70039;
    --color5: #900C3F;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #000;
    width: 100%;
}

.header{    
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: #111;
    border-bottom: 1px solid var(--accent--color);
}

.header__title{
    font-family: 'Oswald', sans-serif;
    font-size:  3em;    
    align-self: center;  
    color: var(--color4);  
}

.header__subtitle{
    font-size:  1em;
    align-self: center; 
    margin-bottom: 1em;
    color: var(--color4);
}

.header__buscador{
    align-self: center;
}

.header__links{
    display: flex;
    justify-content: space-around;    
}

.header__links a{
    color: var(--color5);
    text-decoration: none;
    font-weight: bold;
    transition: all 300ms;
}

.header__links a:hover{
    transform: scale(1.2);
    color: var(--color2);
}

.main{
    padding: 1em 2em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    margin: 1em;
    position: relative;
    width: 250px;    
    display: flex;
    flex-direction: column;
}

.card__img{
    width: 100%;
}

.card__year{
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: center;
    width: 50px;
    padding: 3px;
    background-color: #fff;
    border-radius: 4px;
    background-color: var(--accent--color);
    color: var(--color2);
    font-weight: bold;
    border: 1px solid #900C3F;
}

.card:hover .card__more{
    display: flex;
}

.card__description{
    background-color: var(--accent--color);
    text-align: center;
    padding: 0.5em;
    position: relative;
    border-radius: 0 0 6px 6px;
    border-top: 2px solid #900C3F;
}

.card__description h4{    
    color: var(--color2);
}

.card__description--white{
    color: #fff;
    font-weight: lighter;
    font-size: .8em;
}

.card__more{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: -60px;
    right: 20px;
    background-color: var(--color4);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid var(--color2); 
}

.card__more:hover{
    cursor: pointer;
    background-color: var(--color2);
}

.card__more img{
    width: 50%;
}

/*DESCRIPCION******************/

.header__homeBtn{
    align-self: center;
    color: var(--color2);
    border: 1px solid var(--color2);
    border-radius: 5px;
    padding: .5em;
    text-decoration: none;
}

.header__homeBtn:hover{
    cursor: pointer;
    background-color: var(--color2);
    color: #111;
}

.description{
    padding: 1em 2em;
    display: flex;
}

.description__img img{
    width: 200px;
    height: 300px;
}

.description__text{
    margin-left: 2em;
    color: #ddd;
}

.description__title{
    font-size: 3em;
    font-weight: bold;
    color: var(--color4);
}

.description__category{
    color: var(--color4);
}

.description__rt, 
.description__year,
.description__cast{
    color: var(--color3);
}

.description__resume{
    width: 70%;
}

.player{
    width: 80%;
    padding: 18%;
    background-color: #ccc;
    color: #fff;
    margin: auto;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player img{
    width: 20%;
}

/*RESPONSIVE*******************/

@media screen and (max-width: 768px) {
    .header__title{
        font-size: 2em;
    }

    .description{
        flex-direction: column;
        align-items: center;
    }

    .description__title{
        font-size: 2em;
    }

    .description__resume{
        width: 100%;
    }

    .player{
        width: 90%;
    }
}